name: Build & Release CLI (Bun)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10.23.0
          run_install: false

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies and build
        working-directory: ./ # root of repo
        run: |
          pnpm i --frozen-lockfile --ignore-scripts
          pnpm build
          pnpm --filter @kellemes/cli compile:all

      # ADD THIS STEP: Upload artifact
      - name: Upload CLI binaries
        uses: actions/upload-artifact@v4
        with:
          name: cli-bin
          path: ./dist/kellemes-cli*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist-all

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: cli-v${{ github.run_number }}
          name: "Kellemes CLI v${{ github.run_number }}"
          files: dist-all/**/* # all files fetched from artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
