name: Code quality

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
  pull_request:

jobs:
  quality:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.3.7
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.0
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Run Biome
        run: biome ci .
