name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10.23.0
          run_install: true

      - uses: actions/setup-node@v4
        with:
          node-version: 24.11.1
          cache: "pnpm"

      - name: Version packages and update changelog
        run: pnpm version-packages

      - name: Push version bumps and changelog
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/SubZtep/kellemes.git
          git push origin main --follow-tags

      # - name: Publish packages
      #   run: pnpm publish-packages
      #   env:
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
